/* General classes */
.hidden { display: none; }

.show { display: block; }
.inline { display: inline; }

.lfloat { float: left; }
.rfloat { float: right; }
.nofloat { float: none; }
.clear { clear: both; }

.hand {
  cursor: pointer;
  cursor: hand;
}

.money { color: #76EE00; }
.item_display { color: #D2691E; }


/* Global */
body {
  -moz-transform: scale(1.2);
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  zoom: 1.2;
}
#body { width: 980px; }

.rating .positive { color: #228B22; }
.rating .negative { color: #CD2626; }
.rating img {
  height: 12px;
  padding-left: 1px;
  width: 9px;
}


/* Stuff */
.profilebox {
  background-color: #F0F0F0;
  border: 1px solid #4A4A4A;
  float: left;
  height: 50px;
  width: 200px;
}
.profileimage {
  border: 3px solid #6A6A6A;
  float: left;
  height: 46px;
  margin: 0px;
  width: 46px;
  background:lightgrey;
}
.profilename {
  float: left;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 8px;
}
.chatbox {
  background-color: #F6F6F6;
  border: 1px solid #4A4A4A;
  float: left;
  height: 400px;
  margin-top: 10px;
  width: 300px;
}
.chatmessages {
  height: 340px;
  width: 100%;
}
.chatinput {
  height: 54px;
  resize: none;
  width: 294px;
}

.buyer { background-color: #B0E2FF !important; }
.seller { background-color: #EE9933 !important; }
.insurer { background-color: #9ACD32 !important; }

#content.disabled { opacity: 0.3; }
#content.enabled { opacity: 1; }

#buyer_profile { margin-left: 150px; }
#seller_profile { margin-left: 10px; }
#insurer_profile { float: none; }

#seller_chatbox { margin-left: 10px; }


/* Buttons */
button {
  border-width: 2px;
  border-style: solid;
  border-top-color: #4A4A4A;
  border-left-color: #4A4A4A;
  border-bottom-color: #6A6A6A;
  border-right-color: #6A6A6A;
  background-color: #F0F0F0;
}
button:active, button.pressed {
  border-top-color: #2A2A2A;
  border-left-color: #2A2A2A;
  border-bottom-color: #4A4A4A;
  border-right-color: #4A4A4A;
  background-color: #EAEAEA;
}

button.enabled { visibility: visible; }
button.disabled { visibility: hidden; }

button.yours {
  background-color: #F0F0F0;
  color: black;
}
button.notyours {
  background-color: #888;
  border: 2px solid #555;
  color: #666;
}
button.notyours:active { border: 2px solid #555; }
button.button_give, button.button_take {
  font-size: 9px;
  height: 38px;
  width: 50px;
}
button.button_give span, button.button_take span { font-size: 8px; }
button.button_give.pressed, button.button_take.pressed { padding-left: 4px; }

button.yours.buyer { background-color: #B0E2FF; }
button.yours.seller { background-color: #EE9933; }
button.yours.insurer { background-color: #9ACD32; }

button.yours.buyer:active { background-color: #1FADFF !important; }
button.yours.seller:active { background-color: #E28512 !important; }
button.yours.insurer:active { background-color: #83B819 !important; }

.notyours.buyer { background-color: #C2D5E0 !important; }
.notyours.seller { background-color: #AB9478 !important; }
.notyours.insurer { background-color: #85916E !important; }

button.notyours.buyer.pressed { background-color: #A7DCFB !important; }
button.notyours.seller.pressed { background-color: #DF9943 !important; }
button.notyours.insurer.pressed { background-color: #97CD32 !important; }


/* Instructions and notifications */
#notifications_list { margin-top: 20px; }
.instructions {
  border: 2px solid #DDD569;
  margin-bottom: 10px;
}
.instructions .title {
  background-color: #DDD569;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 4px 6px;
}
.instructions .body { padding: 10px; }
.instructions .body p:first-child { margin-top: 0px; }
#instructions_role  { background-color: #EEE !important; }
#instructions_role.buyer { border-color: #B0E2FF; }
#instructions_role.seller { border-color: #EE9933; }
#instructions_role.insurer { border-color: #9ACD32; }


#buyer_seller_arrows {
  background: transparent url(/img/buyer_seller_arrows.png) no-repeat top left;
  float: left;
  height: 50px;
  margin-left: 10px;
  margin-top: 7px;
  width: 245px;
}
#buyer_seller_arrows button {
  height: 38px;
  vertical-align: middle;
}
#buyer_send_seller_box { 
  float: left;
  padding-left: 50px;
  width: 70px;
}
#seller_send_buyer { margin-left: 21px; }

#insurer_arrows {
  background: transparent url(/img/insurer_arrows.png) no-repeat top left;
  float: left;
  margin: 10px 0 0 10px;
  min-height: 220px;
  width: 350px;
}
#insurer_buttons { height: 220px; }
#insurer_buttons_line1 { padding-top: 30px; }
#buyer_send_insurer { margin-left: 23px; }
#seller_send_insurer { margin-right: 20px; }

#insurer_buttons_separator  { padding-top: 10px; }
#insurer_buttons_separator div {
  border: 3px solid black;
  width: 34px;
}
#insurer_buttons_separator div.lfloat { margin-left: 50px; }
#insurer_buttons_separator div.rfloat { margin-right: 48px; }

#insurer_buttons_line2 { padding-top: 10px; }
#insurer_take_buyer { margin-left: 74px; }
#insurer_take_seller { margin-right: 63px; }

#insurer_buttons_line3 { padding-top: 5px; }
#insurer_give_buyer { margin-left: 112px; }
#insurer_give_seller { margin-right: 110px; }

#eventlog { margin-top: 20px; }
