/* General classes */
.hidden { display: none; }

.show { display: block; }
.inline { display: inline; }

.lfloat { float: left; }
.rfloat { float: right; }
.nofloat { float: none; }
.clear { clear: both; }

.blink { visibility: hidden; }

.hand {
  cursor: pointer;
  cursor: hand;
}
.pointer { cursor: default; }

.old_money { color: #76EE00; }
.money { color: #2A2A2A; }
.item_display { color: #D2691E; }


/* Global */
body { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; }
#body { width: 980px; }

.rating .positive { color: #228B22; }
.rating .negative { color: #CD2626; }
.rating img {
  height: 12px;
  padding-left: 1px;
  width: 9px;
}


/* Stuff */
.profilebox {
  background-color: #F0F0F0;
  border: 1px solid #4A4A4A;
  float: left;
  height: 50px;
  width: 200px;
}
.profileimage {
  border: 3px solid #6A6A6A;
  float: left;
  height: 45px;
  margin: 0px;
  width: 45px;
  background:lightgrey;
}
.profilenamewallet { margin-left: 10px; }
.profilename {
  display: block;
  font-size: 25px;
  height: 26px;
}
.profilewallet {
  font-size: 16px;
  font-style: italic;
}
.chatbox {
  background-color: #F6F6F6;
  border: 1px solid #4A4A4A;
  float: left;
  height: 400px;
  margin-top: 10px;
  opacity: 1;
  width: 300px;
}
.chatbox.disabled { opacity: 0.3; }
.chatmessages {
  height: 340px;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  word-wrap: break-word;
}
.chatinput {
  height: 54px;
  resize: none;
  width: 294px;
}
.message { padding: 2px 5px; }
.message:not(.yours) { font-style: italic; }
.message.info {
  background-color: #E6E6E6;
  font-size: 14px;
  font-style: italic;
}
.message.info.ul {
  list-style-type: square;
  margin-bottom: 0px;
  margin-left: 5px;
}


span.buyer, span.seller, span.insurer, span.gold {
  background-color: white !important; 
  font-weight: bolder;
}
span.buyer { color: #66d; }
span.seller { color: #A62; }
span.insurer { color: #9C3; }
span.gold { color: #992; }


.buyer { background-color: #B0E2FF !important; }
.seller { background-color: #EE9933 !important; }
.insurer { background-color: #9ACD32 !important; }

#content.disabled { opacity: 0.5; }
#content.enabled { opacity: 1; }

#seller_token_info {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 610px;
  padding: 4px 0 4px 6px;
}

#buyer_profile { margin-left: 150px; }
#seller_profile { margin-left: 10px; }
#insurer_profile { float: none; }

.profiletoken {
  float: right;
  height: 80px;
  margin-right: -20px;
  margin-top: -10px;
  position: relative;
  width: 80px;
}
/*.has_token { background-image: url(/img/has_token.png); }
.no_token { background-image: url(/img/no_token.png); }
.token_missing {
  background-image: url(/img/404.jpg);
  background-position: 0px 5px;
  background-size: 20px;
}*/
.token_missing {
  float: right;
  height: 100px;
  margin-right: -30px;
  margin-top: -20px;
  position: relative;
  width: 100px;
}

#seller_chatbox { margin-left: 10px; }


/* Buttons */
button {
  border-width: 2px;
  border-style: solid;
  border-top-color: #4A4A4A;
  border-left-color: #4A4A4A;
  border-bottom-color: #6A6A6A;
  border-right-color: #6A6A6A;
  background-color: #F0F0F0;
  font-weight: bolder;
}
button:active, button.pressed {
  border-top-color: #2A2A2A;
  border-left-color: #2A2A2A;
  border-bottom-color: #4A4A4A;
  border-right-color: #4A4A4A;
  background-color: #EAEAEA;
}

button.enabled { visibility: visible; }
button.disabled { visibility: hidden; }

button.yours {
  background-color: #F0F0F0;
  color: black;
}
button.notyours, button.unpushable {
  background-color: #888;
  border: 3px solid #555;
  color: #666;
}
button.notyours:active { border: 3px solid #555; }
button.button_give, button.button_take {
  border-width: 3px;
  font-size: 9px;
  height: 42px;
  width: 55px;
}
button.button_give span.transitive, button.button_take span.transitive { font-size: 8px; }
button.button_give.pressed { padding-left: 4px; }
button.button_take.pressed { padding-left: 1px; }

button.yours.buyer { background-color: #B0E2FF; }
button.yours.seller { background-color: #EE9933; }
button.yours.insurer { background-color: #9ACD32; }

button.yours.buyer:active, button.yours.buyer.pressed { background-color: #1FADFF !important; }
button.yours.seller:active, button.yours.seller.pressed { background-color: #E28512 !important; }
button.yours.insurer:active, button.yours.insurer.pressed { background-color: #83B819 !important; }

button.pressed  { border-color: #25F722; }

button.notyours.buyer, button.unpushable.buyer { background-color: #4E626E !important; }
button.notyours.seller, button.unpushable.seller { background-color: #64533F !important; }
button.notyours.insurer, button.unpushable.insurer { background-color: #404635 !important; }

button.notyours.buyer, button.notyours.seller, button.notyours.insurer { color: #888; }

button.notyours.buyer.pressed { background-color: #A7DCFB !important; }
button.notyours.seller.pressed { background-color: #DF9943 !important; }
button.notyours.insurer.pressed { background-color: #97CD32 !important; }

button.yours.buyer:hover { background-color: #42BAFF !important; }
button.yours.seller:hover { background-color: #FF8C00 !important; }
button.yours.insurer:hover { background-color: #A0F000 !important; }


button.yours.unpushable.buyer:hover { background-color: #4E626E !important; }
button.yours.unpushable.seller:hover { background-color: #64533F !important; }
button.yours.unpushable.insurer:hover { background-color: #404635 !important; }


/* Timer */
#timer {
  font-size: 50px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  width: 200px;
}
#timer.gamestart {
  margin-bottom: -70px;
  position: relative;
  top: -80px;
}
#waiting_note {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
#waiting_note span.body { font-size: 13px; }


/* Instructions and notifications */
#notifications_list { margin-top: 20px; }
#notification {
  background-color: #5987F3;
  color: white;
  margin-bottom: 10px;
  min-height: 20px;
}
.instructions {
  border: 2px solid #DDD569;
  margin-bottom: 10px;
}
.instructions .title {
  background-color: #DDD569;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 4px 6px;
}
.instructions .body { padding: 10px; }
.instructions .body p:first-child { margin-top: 0px; }
#instructions_role  { background-color: #EEE !important; }
#instructions_role.buyer { border-color: #B0E2FF; }
#instructions_role.seller { border-color: #EE9933; }
#instructions_role.insurer { border-color: #9ACD32; }


#buyer_seller_arrows {
  background: transparent /*url(/img/buyer_seller_arrows.png)*/ no-repeat top left;
  float: left;
  height: 50px;
  margin-left: 10px;
  margin-top: 7px;
  width: 245px;
}
#buyer_send_seller_box { 
  float: left;
  padding-left: 50px;
  width: 70px;
}
#seller_send_buyer { margin-left: 21px; }

#insurer_arrows {
  background: transparent /*url(/img/insurer_arrows.png)*/ no-repeat top left;
  float: left;
  margin: 10px 0 0 10px;
  min-height: 220px;
  width: 350px;
}
#insurer_buttons { height: 220px; }
#insurer_buttons_line1 { padding-top: 30px; }
#buyer_send_insurer { margin-left: 23px; }
#seller_send_insurer { margin-right: 20px; }

#insurer_buttons_separator  { padding-top: 10px; }
#insurer_buttons_separator div {
  border: 3px solid black;
  width: 34px;
}
#insurer_buttons_separator div.lfloat { margin-left: 50px; }
#insurer_buttons_separator div.rfloat { margin-right: 48px; }

#insurer_buttons_line2 { padding-top: 10px; }
#insurer_take_buyer { margin-left: 74px; }
#insurer_take_seller { margin-right: 63px; }

#insurer_buttons_line3 { padding-top: 5px; }
#insurer_send_buyer { margin-left: 112px; }
#insurer_send_seller { margin-right: 110px; }

#eventlog { margin-top: 20px; }


/* Survey */
.survey label { display: block; }
.survey textarea {
  height: 85px;
  width: 500px;
}
.survey li { margin-top: 15px; }


/* jConf */
.jconfRender{
	position:fixed;
	top:0; left:0;
	background:rgba(0, 0, 0, 0.2);
	display:none;
  z-index: 1003;
}
#jconfBox{
	min-height:50px;
	min-width:200px;
	max-width:75%;
	border:solid 2px #B9DDEE;
	position:absolute;
	z-index:99999999;
	background:#FFFFFF;
	padding:10px;
	font:normal 13px Verdana, Arial, Helvetica, sans-serif;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-border-radius:5px;
	
	-webkit-box-shadow: 5px 5px 10px #555;
	-moz-box-shadow: 5px 5px 10px #555;
	-box-shadow: 5px 5px 10px #555;

	background: #CCC; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9EDFC', endColorstr='#FFFFFF');
	background: -webkit-gradient(linear, left top, left bottom, from(#E9EDFC), to(#FFF));
	background: -moz-linear-gradient(top, #E9EDFC, #FFF); 
	
	text-shadow:0px 1px 0px #fff;
	text-align:right;
}
.jconfText{
	text-align:left;
}
.jconfInput{
	width:100%;
	border:solid 1px #66CCFF;
	padding:3px 0;
}
.jconfBtn{
	padding:5px 10px;
	border:1px solid #bbb;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-khtml-border-radius:3px;
	background: -moz-linear-gradient(100% 100% 90deg, #eee, #d5d5d5);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#d5d5d5));
  	background: -webkit-linear-gradient(#eee, #d5d5d5);
    background: -o-linear-gradient(#eee, #d5d5d5);
	color:#232d3d;
	cursor:pointer;
}


/* Admin */
.admin .game { margin-bottom: 20px; }
.admin .chatmessages { width: 300px; }
.admin h4 { margin: 5px 0; }
.admin .event {
  background-color: #EC6565 !important;
  font-style: normal;
  font-weight: bold;
}

.admin .post_buyer .post_buyer { display: none; }
.admin .post_seller .post_seller { display: none; }
.admin .post_insurer .post_insurer { display: none; }

.admin .post_questionnaires {
  margin-left: 20px;
  min-height: 50px;
  width: 500px;
}
.admin .post_questionnaires h4 { color: #AAF575 !important; }
.admin .post_questionnaires h4.noanswers { color: #EC6565 !important; }