{% macro answers(user) -%}
{% if not user.answers.none -%}
              <ol>
                <li>
                  <span class="question">At the end of the game, did you think the situation was fair? Why or why not?</span>
                  <br />
                  <blockquote class="answer">{{ user.answers.situation_fair }}</blockquote>
                </li>
                <li class="post_seller">
                  <span class="question">Did you believe the seller was telling the truth? Why or why not?</span>
                  <br />
                  <blockquote class="answer">{{ user.answers.seller_truth }}</blockquote>
                </li>
                <li class="post_buyer">
                  <span class="question">Did you believe the buyer was telling the truth? Why or why not?</span>
                  <br />
                  <blockquote class="answer">{{ user.answers.buyer_truth }}</blockquote>
                </li>
                <li class="post_insurer">
                  <span class="question">Did you believe the mediator was fair? Why or why not?</span>
                  <br />
                  <blockquote class="answer">{{ user.answers.insurer_truth }}</blockquote>
                </li>
                <li>
                  <span class="question">Do you have any other comments about this experiment? We appreciate your feedback.</span>
                  <br />
                  <blockquote class="answer">{{ user.answers.comments }}</blockquote>
                </li>
              </ol>
{%- else -%}
              <span>User did not complete survey.</span>
{%- endif %}
{% endmacro -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>CHITchat Admin</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.8.14.custom.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#games').accordion({ change: function(event, ui) {
                $(event.target).find('.post_questionnaires').accordion();
            }});
            $('#games div').first().find('.post_questionnaires').accordion();
        })
    </script>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  </head>
  <body class="admin">
    <div id="content">
      <div id="queue">
        <h2>Users queued</h2>
        <ul>{% for user in queue %}
          <li>{{ user.userkey }}: queued for {{ "%d:%02d"|format(user.waited / 60, user.waited % 60) }}, last seen {{ "%d:%02d"|format(user.lastseen / 60, user.lastseen % 60) }} ago</li>{% endfor %}
        </ul>
      </div>
      <h2>Games recorded and in play</h2>
      <div id="games">
{% for game in games %}       <h3>{{ game.key }}{% if game.has_chat %} - <span class="nochat">HAS CHAT</span>{% endif %}{% if game.has_mturk %} - <span class="nochat">MTURK USER(S)</span>{% endif %}</h3>
        <div class="messages">
          <div class="buyer_insurer_chat lfloat">
            <h4>Buyer to Mediator</h4>
            <div class="chatmessages" style="height:2000px" id="buyer_chatmessages">{% for evt in game.buyer_log %}
              <div class="message {{ evt.from }}{% if evt.name != 'chat' %} event{% endif %}">{% if evt.name == 'chat' %}{{ evt.message }}{% else %}*** {{ evt.from|capitalize }} gave {% if evt.name == 'send_token' %}the token{% else %}25c{% endif %} to {{ evt.to|capitalize }}{% endif %}</div>{% endfor %}
            </div>
          </div>
          <div class="seller_insurer_chat lfloat" style="margin-left: 20px;">
            <h4>Seller to Mediator</h4>
            <div class="chatmessages" style="height:2000px" id="seller_chatmessages">{% for evt in game.seller_log %}
              <div class="message {{ evt.from }}{% if evt.name != 'chat' %} event{% endif %}">{% if evt.name == 'chat' %}{{ evt.message }}{% else %}*** {{ evt.from|capitalize }} gave {% if evt.name == 'send_token' %}the token{% else %}25c{% endif %} to {{ evt.to|capitalize }}{% endif %}</div>{% endfor %}
            </div>
          </div>
          <div class="post_questionnaires lfloat">
            <h4 class="{% if game.insurer.answers.none %}noanswers{% endif %}">Buyer - {{ game.buyer.key }}{% if game.buyer.is_mturk %} (MTURK){% endif %}</h4>
            <div class="post_answers post_buyer">
{{ answers(game.buyer) }}
            </div>
            <h4 class="{% if game.insurer.answers.none %}noanswers{% endif %}">Seller - {{ game.seller.key }}{% if game.seller.is_mturk %} (MTURK){% endif %}</h4>
            <div class="post_answers post_seller">
{{ answers(game.seller) }}
            </div>
            <h4 class="{% if game.insurer.answers.none %}noanswers{% endif %}">Mediator - {{ game.insurer.key }}{% if game.insurer.is_mturk %} (MTURK){% endif %}</h4>
            <div class="post_answers post_insurer">
{{ answers(game.insurer) }}
            </div>
          </div>
        </div>
{% endfor %}
      </div>
    </div>
  </body>
</html>
